[commit]
	gpgsign = true
[user]
	signingkey = 58EC4CF7E2423D2A
	email = cheichey.1223@gmail.com
	name = axelaspor2
[push]
	default = current
[ghq]
	root = ~/dev/ghq
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
